In [2]:
import numpy as np 
import pandas as pd 
data_url = 'https://lehd.ces.census.gov/data/lodes/LODES7/ca/wac/ca_wac_S000_JT00_2015.csv.gz'
df = pd.read_csv(data_url,compression='gzip')

# Descriptive Statistics
Let's try to get some useful summary statistics of the variables in the data set. We can use `describe()` get a quick summary of the variables.

In [ ]:
df.describe()

As you can see, this gives us the count, mean, standard deviation, minimum, 25th percentile (first quartile), 50th percentile (median), 75th percentile (third quartile), and maximum. Notice that it gives us these summaries even for the variables that don't make sense (the geocode variables). 

This gives a lot more information than you might want. What if we just wanted to look at a few columns? You might do something like the following.

In [ ]:
df[["C000","CA01","CA02","CA03"]].describe()

You might also decide that you only want to find certain values, like the mean. You can do that too.

In [ ]:
df[["C000","CA01","CA02","CA03"]].mean()

## More Descriptive Statistics

Before we answer the question posed at the beginning of the chapter, we want to do a little more exploration of the data set. Many times, this is where we might find out how exactly the question should be framed. For example, we might want to know the distribution of jobs by age group for blocks with greater than 50 jobs. How would we do this?

Recall that we made a subset of the `df` Data Frame earlier called `df_over50`. We can use `describe()` on this subsetted Data Frame.

In [ ]:
df_over50 = df[df['C000'] > 50]
df_over50.describe()

We can also create new variables. Here, we're going to create an indicator for whether a census block has more than 50 jobs in it.

In [ ]:
df["over50"] = df.C000 > 50
df[["C000","over50"]].head()

Note that we don't have a variable in `df` called `over50` before we run the first line in the above cell. What we're doing with that one line is creating a new column called `over50` and filling it with the values in the conditional statement `df.C000 > 50`. We've then printed out the first few rows using `head()` to see that it's working properly.

## Descriptive Statistics for Categorical Data

So far, we've gone over some descriptive statistics for numerical data, like finding mean or standard deviations. However, you might also want to find descriptive statistics of categorical data. To do this, we'll take a look at the crosswalk file.

In [11]:
data_url = 'https://lehd.ces.census.gov/data/lodes/LODES7/ca//ca_xwalk.csv.gz'
xwalk = pd.read_csv(data_url,compression='gzip',low_memory=False)
xwalk.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,60030100002053,6,CA,California,6003,"Alpine County, CA",6003010000,"100 (Alpine, CA)",60030100002,"2 (Tract 100, Alpine, CA)",...,NaN,99999,NaN,NaN,NaN,6000005,05 Golden Sierra Consortium WIB,38.795161,-119.752439,20211018
1,60070013003023,6,CA,California,6007,"Butte County, CA",6007001300,"13 (Butte, CA)",60070013003,"3 (Tract 13, Butte, CA)",...,NaN,99999,NaN,NaN,NaN,6000016,16 NoRTEC WIB,39.718686,-121.816335,20211018
2,60150002031279,6,CA,California,6015,"Del Norte County, CA",6015000203,"2.03 (Del Norte, CA)",60150002031,"1 (Tract 2.03, Del Norte, CA)",...,NaN,99999,NaN,NaN,NaN,6000016,16 NoRTEC WIB,41.508867,-124.030365,20211018
3,60150002031336,6,CA,California,6015,"Del Norte County, CA",6015000203,"2.03 (Del Norte, CA)",60150002031,"1 (Tract 2.03, Del Norte, CA)",...,NaN,99999,NaN,NaN,NaN,6000016,16 NoRTEC WIB,41.479259,-123.954100,20211018
4,60150002031264,6,CA,California,6015,"Del Norte County, CA",6015000203,"2.03 (Del Norte, CA)",60150002031,"1 (Tract 2.03, Del Norte, CA)",...,NaN,99999,NaN,NaN,NaN,6000016,16 NoRTEC WIB,41.488986,-123.983607,20211018

With categorical data, we usually want to look at breakdowns by the group. Let's use the Micropolitan/Metropolitan area as an example. We can get the count of all non-NA values for each of these areas using a combination of `groupby` and `count`.

In [12]:
count_by_cbsa = xwalk.groupby('cbsaname').count()
count_by_cbsa.head()

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
cbsaname,,,,,,,,,,,,,,,,,,,,,
"Bakersfield, CA",35280,35280,35280,35280,35280,35280,35280,35280,35280,35280,...,0,35280,0,1511,1511,35280,35280,35280,35280,35280
"Chico, CA",6517,6517,6517,6517,6517,6517,6517,6517,6517,6517,...,0,6517,0,0,0,6517,6517,6517,6517,6517
"Clearlake, CA",5164,5164,5164,5164,5164,5164,5164,5164,5164,5164,...,0,5164,0,0,0,5164,5164,5164,5164,5164
"Crescent City, CA",2062,2062,2062,2062,2062,2062,2062,2062,2062,2062,...,0,2062,0,0,0,2062,2062,2062,2062,2062
"El Centro, CA",8875,8875,8875,8875,8875,8875,8875,8875,8875,8875,...,0,8875,0,103,103,8875,8875,8875,8875,8875

The `groupby` method first creates groups according to a certain variable. Here, we chose `cbsaname` since that is the Micropolitan/Metropolitan name in the crosswalk data. We then just did a `count` to count the number of non-NA values in each of the other variables. We could have also used something like sum if there was a value that we wanted to sum over, for example.

## <span style="color:red">Checkpoint: Descriptive Statistics on Your Data</span>

Using the tools described above, describe the data for the state of your choice. Find measures such as mean and median. Try to think about the distribution of jobs by different characteristics like age group and industry. Which age group had the most jobs in the state? Which industry?

Using the crosswalk file for the state of your choice, try to get some breakdowns by county. Which county has the most census blocks?